body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: green;
    text-align: center;
    color: white;
    font-weight: bold;

}

h1 {

    color: goldenrod;

}

#message-el {
    font-style: italic;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    padding: 6px;
    background-color: goldenrod;
    width: 150px;
    color: #016f32;
    /* display: block; */
    margin: 4px;
}
